<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/oval-white-vector2.svg" alt="logo" width="264" height="78"></a>
            <p class="cs-text">Oval Electrical Ltd is an electrical services company registered in England and Wales with company number 14665456. We are also proud to be NAPIT accredited installers with the membership number 70534.</p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Pages</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>
                        <a href="/safety-certificates/">Safety Certificates</a>
                    </li>
                    <li>
                        <a href="/additions-alterations/">Additions & Alterations</a>
                    </li>
                    <li>
                        <a href="/fault-finding/">Fault Inspection</a>
                    </li>
                    <li>
                        <a href="/new-installations/">New Installations</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.city}}<br>
                            {{client.address.state}}<br>
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">{{client.email}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed by</span>
        <a href="/" target="_blank" rel="noopener">Evan</a>
        <span>and developed by</span>
        <a href="/" target="_blank" rel="noopener">Oscar</a>.
        <span class="copyright">© Copyright 2024</span>
    </div>
</footer>