---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/about-landing.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/about-landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="RPsbs-414">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Who We Are</span>
                <h2 class="cs-title">About Oval Electrical</h2>
                <p class="cs-text">
                    We are driven by a commitment to excellence, safety, and reliability in every project we undertake. Founded in 2023 by our director, Harry McLoughlin, our company has built a strong client base in Brighton & Hove. During this time, we have gained a reputation for thorough and friendly service.
                </p>
                <p class="cs-text">
                    Company director Harry brings years of experience in the electrical industry and a smile to every job. His journey from dedicated apprentice to founder of his own electrical services company is a testament to his expertise and commitment to service excellence.
                </p>
            </div>
            <div class="cs-image-group">
                <!--Top Left Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/additions-alterations/additions-alterations1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/additions-alterations/additions-alterations1.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/additions-alterations/additions-alterations1.jpg" alt="backyard" width="229" height="352">
                </picture>
                <!--Top Right Image-->
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/additions-alterations/additions-alterations2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/additions-alterations/additions-alterations2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/additions-alterations/additions-alterations2.jpg" alt="backyard" width="390" height="352">
                </picture>
                <!--Bottom Image-->
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/additions-alterations/additions-alterations3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/additions-alterations/additions-alterations3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/additions-alterations/additions-alterations3.jpg" alt="backyard" width="649" height="227">
                </picture>
            </div>
        </div>
    </section>                    

    <!-- ============================================ -->
    <!--            Side By Side Reverse              -->
    <!-- ============================================ -->

    <section id="RPsbsr-414">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Where We Are</span>
                <h2 class="cs-title">Proud To Be Local</h2>
                <p class="cs-text">
                    Oval Electrical is proud to serve Brighton, Hove and the surrounding areas. Our team of skilled electricians is dedicated to providing top-quality electrical services to residential and commercial clients throughout the region.
                </p>
                <p class="cs-text">
                    Our service area includes:
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">Brighton & Hove</li>
                    <li class="cs-li">Worthing</li>
                    <li class="cs-li">Shoreham</li>
                    <li class="cs-li">Burgess Hill</li>
                    <li class="cs-li">Uckfield</li>
                    <li class="cs-li">Lewes</li>
                </ul>
                <p class="cs-text">
                    Whether you're located in the heart of Brighton or in one of the nearby communities, Oval Electrical is here to meet your electrical needs. We understand the importance of prompt, reliable service, and we strive to arrive at your location on time, ready to tackle any electrical challenge.
                </p>
            </div>
            <div class="cs-image-group">
                <!--Top Left Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/about-us/brighton1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/about-us/brighton1.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/about-us/brighton1.jpg" alt="brighton" width="229" height="352">
                </picture>
                <!--Top Right Image-->
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/about-us/brighton2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/about-us/brighton2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/about-us/brighton2.jpg" alt="brighton" width="390" height="352">
                </picture>
                <!--Bottom Image-->
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/about-us/brighton3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/about-us/brighton3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/about-us/brighton3.jpg" alt="brighton" width="649" height="227">
                </picture>
            </div>
        </div>
    </section>
                                

    

    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="why-choose-289">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Powering Brighton</span>
                    <h2 class="cs-title">Why Choose Oval?</h2>
                </div>
                <p class="cs-text">
                        For unparalleled expertise and a commitment to safety and satisfaction, Oval Electrical is your trusted partner in innovative electrical solutions.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/award.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Fully Qualified</h3>
                    <p class="cs-item-text">
                        We are proud to be NAPIT accredited installers (membership no. 70534), meaning that we are trained to safely carry out electrical work.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/star.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">5* Rated</h3>
                    <p class="cs-item-text">
                        Our team strongly values building a lasting relationship with our clients, and this is reflected in our reviews.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild-black.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Fully Insured</h3>
                    <p class="cs-item-text">
                        We are fully insured with Simply Business. This protects against injuries, accidental damage and loss or theft.
                    </p>
                </li>
            </ul>
        </div>
    </section>
                                
    

    {% include 'components/cta.html' %}

{% endblock %}