---
title: 'Additions & Alterations'
description: 'Additions & Alterations'
permalink: '/additions-alterations/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/additions-alterations.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Additions & Alterations</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wires.png">
            <source media="(min-width: 601px)" srcset="/assets/images/wires.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/wires.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="RPsbs-414">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Quality Workmanship</span>
                <h2 class="cs-title">Seamless Integrations</h2>
                <p class="cs-text">
                    Transforming spaces requires not just vision but also a keen attention to the underlying electrical framework that powers our lives. We specialise in providing comprehensive electrical solutions for both additions and alterations, ensuring that your space not only meets but exceeds both functionality and safety standards.
                </p>
            </div>
            <div class="cs-image-group">
                <!--Top Left Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates1.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates1.jpg" alt="lighting" width="229" height="352">
                </picture>
                <!--Top Right Image-->
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates3.jpg" alt="lighting" width="390" height="352">
                </picture>
                <!--Bottom Image-->
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates2.jpg" alt="lighting" width="649" height="227">
                </picture>
            </div>
        </div>
    </section>                    

    <!-- ============================================ -->
    <!--            Side By Side Reverse              -->
    <!-- ============================================ -->

    <section id="RPsbsr-414">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Tailored Solutions</span>
                <h2 class="cs-title">Elevate Your Space</h2>
                <p class="cs-text">
                    Transform your living or working environment with our bespoke Additions & Alterations service. This includes, but is not limited to:
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">Installation of additional sockets</li>
                    <li class="cs-li">Rewiring and upgrading existing circuits</li>
                    <li class="cs-li">Integration of smart home technology</li>
                    <li class="cs-li">Bespoke lighting design</li>
                </ul>
                <p class="cs-text">
                    Each of these services is tailored to meet the specific needs of your project, ensuring that your electrical systems are not only safe and compliant but also aligned with the latest technological advancements and efficiency standards.
                </p>
            </div>
            <div class="cs-image-group">
                <!--Top Left Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/additions-alterations/additions-alterations1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/additions-alterations/additions-alterations1.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/additions-alterations/additions-alterations1.jpg" alt="backyard" width="229" height="352">
                </picture>
                <!--Top Right Image-->
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/additions-alterations/additions-alterations2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/additions-alterations/additions-alterations2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/additions-alterations/additions-alterations2.jpg" alt="backyard" width="390" height="352">
                </picture>
                <!--Bottom Image-->
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/additions-alterations/additions-alterations3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/additions-alterations/additions-alterations3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/additions-alterations/additions-alterations3.jpg" alt="backyard" width="649" height="227">
                </picture>
            </div>
        </div>
    </section>
                                
    <!-- ============================================ -->
    <!--                   Quote                      -->
    <!-- ============================================ -->

    <section id="quote-560">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Review</span>
                <p class="cs-quote">
                    Harry did a number of jobs for me (moved two sockets, installed a new light fitting and replaced two very old light pendants). I can't fault the service and strongly recommend him.
                </p>
                <span class="cs-name">Chris B.</span>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-1675">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Streamlined Service</span>
                <h2 class="cs-title">Our Process</h2>
                <p class="cs-text">
                    Whether you're planning a home renovation, a commercial fit-out, or simply need to update your electrical systems, Oval Electrical has the expertise to bring your vision to life.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Initial Consultation</h3>
                    <p class="cs-item-text">
                        Every project begins with a detailed consultation to understand your needs, preferences, and the scope of work required.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Planning</h3>
                    <p class="cs-item-text">
                        We provide a comprehensive plan outlining the proposed electrical additions or alterations, ensuring alignment with your expectations and compliance with safety standards.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">Execution</h3>
                    <p class="cs-item-text">
                        Our skilled electricians carry out the work with minimal disruption, adhering to the agreed timeline and budget.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">04</span>
                    <h3 class="cs-h3">Testing and Certification</h3>
                    <p class="cs-item-text">
                        Upon completion, all work is thoroughly tested and certified for safety and compliance.
                    </p>
                </li>
            </ul>
        </div>
    </section>
                                                            

    {% include 'components/cta.html' %}
{% endblock %}