---
title: 'New Installations'
description: 'New Installations'
permalink: '/new-installations/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/new-installations.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">New Installations</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wires.png">
            <source media="(min-width: 601px)" srcset="/assets/images/wires.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/wires.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-412">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Installation Excellence</span>
                <h2 class="cs-title">Crafted For Quality</h2>
                <p class="cs-text">
                    We specialise in new electrical installations for a variety of settings, from new homes and business premises to renovations and extensions. Our team of certified electricians ensures that every installation is performed with precision and adherence to the latest UK electrical safety standards.
                </p>
                <p class="cs-text">
                    Our new installation services include:
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">Residential wiring for new construction</li>
                    <li class="cs-li">Commercial electrical fit-outs</li>
                    <li class="cs-li">Electrical infrastructure for extensions</li>
                    <li class="cs-li">Garden lighting installation</li>
                    <li class="cs-li">Security lighting systems</li>
                    <li class="cs-li">Feature and accent lighting</li>
                </ul>
                <p class="cs-text">
                    Each of our services is designed to meet your unique needs, ensuring reliable and efficient installations every time.
                </p>
            </div>
            <div class="cs-image-group">
                <!--Top Left Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates1.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates1.jpg" alt="lighting" width="229" height="352">
                </picture>
                <!--Top Right Image-->
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates3.jpg" alt="lighting" width="390" height="352">
                </picture>
                <!--Bottom Image-->
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates2.jpg" alt="lighting" width="649" height="227">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1119">
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-image-group">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/puzzle-white.svg" alt="icon" width="48" height="48">
                        <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/green-shape.svg" alt="shape" width="48" height="48">
                    </div>
                    <div class="cs-flex">
                        <h2 class="cs-h2">Custom Fit</h2>
                        <p class="cs-item-text">
                            Every installation is uniquely designed to meet the specific demands and style of your space.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/diamond-white.svg" alt="icon" width="48" height="48">
                        <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/green-shape.svg" alt="shape" width="48" height="48">
                    </div>
                    <div class="cs-flex">
                        <h2 class="cs-h2">Unmatched Quality</h2>
                        <p class="cs-item-text">
                            We deliver top-notch installations with a focus on durability and flawless execution.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/forward-white.svg" alt="icon" width="48" height="48">
                        <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/green-shape.svg" alt="shape" width="48" height="48">
                    </div>
                    <div class="cs-flex">
                        <h2 class="cs-h2">Future Ready</h2>
                        <p class="cs-item-text">
                            Our installations prepare your space for the next generation of electrical needs.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-1675">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Streamlined Service</span>
                <h2 class="cs-title">Our Process</h2>
                <p class="cs-text">
                    Rely on our skilled electricians to expertly manage your new electrical installation from concept to completion.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Intiial Consultation</h3>
                    <p class="cs-item-text">
                        We start with a detailed consultation to understand your specific needs and the scope of your project.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Design and Planning</h3>
                    <p class="cs-item-text">
                        Our team crafts a custom electrical design, ensuring every aspect of the installation is efficient and compliant with current regulations.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">Installation</h3>
                    <p class="cs-item-text">
                        We focus on delivering high-quality workmanship while minimizing disruption to your home or business.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">04</span>
                    <h3 class="cs-h3">Inspection and Handover</h3>
                    <p class="cs-item-text">
                        Upon completion, we conduct a thorough inspection to ensure everything is working safely and efficiently.
                    </p>
                </li>
            </ul>
        </div>
    </section>
                                
                                                    

    {% include 'components/cta.html' %}
{% endblock %}