---
title: 'Safety Certificates'
description: 'Safety Certificates'
permalink: '/safety-certificates/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/safety-certificates.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Safety Certificates</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/wires.png">
            <source media="(min-width: 601px)" srcset="/assets/images/wires.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/wires.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-412">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">SAFETY & COMPLIANCE</span>
                <h2 class="cs-title">Peace of Mind</h2>
                <p class="cs-text">
                    We understand the importance of electrical safety in both residential and commercial settings. Our comprehensive safety certificates are meticulously designed to ensure your electrical systems adhere to the highest standards of safety and compliance as outlined by UK regulations.
                </p>
                <p class="cs-text">
                    Whether you are a homeowner ensuring the safety of your living space or a business looking to comply with health and safety regulations, our safety certificates offer the peace of mind that your electrical installations are safe, reliable, and compliant with all UK standards.
                </p>
                <p class="cs-text">
                    Let us help you ensure the safety and compliance of your electrical systems, safeguarding your property and everyone who uses it.
                </p>
            </div>
            <div class="cs-image-group">
                <!--Top Left Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates1.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates1.jpg" alt="lighting" width="229" height="352">
                </picture>
                <!--Top Right Image-->
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates3.jpg" alt="lighting" width="390" height="352">
                </picture>
                <!--Bottom Image-->
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/safety-certificates/safety-certificates2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/safety-certificates/safety-certificates2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/safety-certificates/safety-certificates2.jpg" alt="lighting" width="649" height="227">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Quote                      -->
    <!-- ============================================ -->

    <section id="quote-560">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Review</span>
                <p class="cs-quote">
                    Used Oval Electrical to provide a Building Control Compliance Certificate. Harry turned up when he said he would, carried out the work in a professional manner, and the final cost of the work matched the quote.
                </p>
                <span class="cs-name">Pat M.</span>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->
    
    <section id="services-1201">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-group">
                    <span class="cs-topper">Peace of Mind</span>
                    <h2 class="cs-title">Comprehensive Safety Certificates</h2>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Electrical Installation Condition Report (EICR)</h3>
                        <p class="cs-item-text">This report assesses the condition of an existing electrical installation against BS 7671 safety standards. It identifies any deficiencies, potential risks, or non-compliances with the current regulations. EICRs are essential for landlords, homeowners, and commercial property owners to ensure their properties are safe and compliant.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Portable Appliance Testing (PAT) Report</h3>
                        <p class="cs-item-text">PAT testing involves inspecting and testing all portable electrical appliances to ensure they are safe to use.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Minor Electrical Installation Works Certificate (MEIWC)</h3>
                        <p class="cs-item-text">This certificate is issued for minor electrical works that do not extend or alter existing circuits significantly.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Electrical Installation Certificate (EIC)</h3>
                        <p class="cs-item-text">An EIC is provided following the installation of a new electrical circuit, or when significant alterations or additions are made to existing circuits.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Fire Alarm System Certificate</h3>
                        <p class="cs-item-text">This report certifies that a fire alarm system is installed correctly and operates according to the relevant British Standards.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Emergency Lighting Completion Certificate</h3>
                        <p class="cs-item-text">This certificate is issued upon the installation or inspection of emergency lighting systems, ensuring that they meet the necessary safety standards and regulations.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
                            
    {% include 'components/cta.html' %}
{% endblock %}