/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-412 {
        padding: var(--sectionPadding);
        /* clips svg as the screen grows so it doesn't overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280 at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 108px */
            gap: clamp(3rem, 6vw + 1.1em, 6.75rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            /* display: flex; */
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            font-size: min(2.5vw, 1em);
            width: calc(579 / 16 * 1em);
            height: calc(542 / 16 * 1em);
            /* sends it to the top of the flexbox */
            order: 1;
            position: relative;
        }

        .cs-picture {
            border-radius: calc(20 / 16 * 1em);
            /* clips the img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            &:hover {
                &:before {
                    opacity: 0.6;
                }

                img {
                    transform: scale(1.1);
                }
            }

            &:before {
                /* Hover Box */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 10;
                transition: opacity 0.3s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform 0.6s;
            }
        }

        .cs-picture1 {
            width: calc(204 / 16 * 1em);
            height: calc(314 / 16 * 1em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: calc(348 / 16 * 1em);
            height: calc(314 / 16 * 1em);
            top: 0;
            right: 0;
        }

        .cs-picture3 {
            width: calc(579 / 16 * 1em);
            height: calc(202 / 16 * 1em);
            bottom: 0;
            left: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-412 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }

        .cs-content {
            width: 48%;
        }

        .cs-image-group {
            font-size: min(1.15vw, 1em);
            flex: none;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1201 {
        padding: var(--sectionPadding);

        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex-group {
            display: flex;
            flex-direction: column;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            font-weight: 700;
            text-align: center;
            min-width: calc(150 / 16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 calc(24 / 16 * 1rem);
            color: #1a1a1a;
            background-color: var(--primary);
            text-decoration: none;
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-item {
            /* .cs-h3 and .cs-item-text both use text-align: inherit, so change the below to affect the whole item */
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            /* 20px - 48px */
            padding: clamp(1.25rem, 2.2vw + 1rem, 3rem);
            background-color: #f7f7f7;
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s;

            &:hover {
                background: var(--primary);

                .cs-h3 {
                    color: var(--secondary);
                }

                .cs-item-text {
                    color: #fff;
                }

                .cs-icon {
                    transform: rotateY(360deg) translateY(-0.25rem);
                }
            }
        }

        .cs-picture {
            margin-bottom: calc(20 / 16 * 1rem);
            border-radius: 50%;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: calc(30 / 16 * 1rem);
            height: auto;
            display: block;
            transition: transform 0.5s;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1201 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            grid-template-columns: repeat(2, 1fr);
        }

        .cs-item {
            margin: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1201 {
        .cs-content,
        .cs-card-group {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-title {
            max-width: calc(750 / 16 * 1rem);
        }

        .cs-card-group {
            grid-template-columns: repeat(4, 1fr);
        }

        .cs-item {
            max-width: none;

            &:first-of-type,
            &:last-of-type {
                grid-column: span 2;
            }
        }
    }
}

/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-560 {
        padding: var(--sectionPadding);
        background-color: var(--primary);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-topper {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--bodyTextColorWhite);
            margin-bottom: calc(4 / 16 * 1rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(24 / 16 * 1rem);

            &:before {
                /* yellow line */
                content: "";
                width: calc(50 / 16 * 1rem);
                height: 2px;
                background: var(--secondary);
                opacity: 1;
                display: block;
            }
        }

        .cs-quote {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.7vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            color: var(--secondary);
            display: block;
            letter-spacing: 0.01em;
        }
    }
}                                                